:root {
    --btnprimary: var(--primarygradient);
    --btnupload: var(--secondarygradient);
    --btnaccent: var(--accentgradient)
}


.btn {
    height: 3rem;
    width: fit-content;
    border: none;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s ease-in-out;

}

.btn a {
    border-radius: 40px;
    height: 100%;
    color: var(--textcolor);
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;

}

.btn-upload {
    cursor: pointer;
    background-image: var(--primarygradient);

}

.btn-not-light{
    background-color: transparent;
    border: 2px solid #fff;
    color: var(--textlight);
}
/*Hover*/
.btn-upload:hover{
    background-image: var(--btnupload) ;

}
.btn-not-light:hover{
    background-color: #fff;
}
.btn-not-light:hover a{
    color: var(--accentscolor-hover);

}