.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color) !important;
    overflow: hidden;


}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-header {
    background-color: var(--bg-secondarycolor);
    background-image: url(resources/bg-paralax.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 100%;

}

.gallery-header h1 {
    background: var(--accentgradient);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 28px;
    border-bottom: 2px solid var(--lite-border);
}

.filter-top-gal {
    margin-top: 1rem;
    display: flex;
    height: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.filter-top-gal span {
    width: 12rem;
    display: flex;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--bg-secondarycolor);
    overflow: hidden;

}

.filter-top-gal h3 {
    width: 12rem;
    margin-left: .7rem;
}

.filter-top-gal ul {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.filter-top-gal ul button {
    display: none;
    align-items: center;
    text-align: center;

    justify-content: center;
    cursor: pointer;
    width: 100%;
    border: none;
    height: 100%;
    font-weight: 900;
    background-color: transparent;
}

ul button.option-active {

    display: flex;
    background: var(--secondarycolor);
    color: var(--bg-color);
    font-weight: 500;
}

ul button.option-active:hover {
    background: var(--accentscolor-hover);

}

button:disabled {
    background-color: var(--bg-secondarycolor);
}

.gallery-container {
    margin-top: 1rem;
    columns: 5;
    break-inside: avoid;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.images-container {
    min-width: 18rem;
    max-width: 20rem;
    border-radius: 20px;
    height: fit-content;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 5px solid transparent;
}

.images-container h3 {
    max-width: 18rem;
    box-sizing: border-box;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.images-container img {
    position: relative;
    min-height: 2rem;
    max-height: 100%;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    transition: 0.2s ease;
    box-shadow: var(--lite-border) 0px 0px 0px 2px;

}

.images-container:hover {
    z-index: 20;

}

.images-container img:hover {
    transform: scale(0.98);
    box-shadow: var(--secondarycolor) 0px 0px 0px 2px;
    rotate: .5deg;
}

.pagination-wrapper {
    background-color: var(--bg-secondarycolor);
    display: flex;
    padding: .5rem;
    margin: 1rem;
    border-radius: 20px;
    border: 1px solid var(--lite-border);
    width: 15rem;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1900px) {
    .gallery-container {
        columns: 4;
    }

    .images-container {
        min-width: 12rem;
        max-width: 20rem;
    }

}

@media screen and (max-width: 1400px) {
    .gallery-container {
        columns: 3;
    }

    .images-container {
        min-width: 10rem;
        max-width: 20rem;
    }

}

@media screen and (max-width: 700px) {
    .gallery-container {
        columns: 2;
    }

    .images-container {
        min-width: 7rem;
        max-width: 15rem;
    }

}

@media screen and (max-width: 400px) {
    .gallery-container {
        columns: 1;
    }

    .images-container {
        min-width: 8rem;
        max-width: 10rem;
    }

}

.gallery-wrapper {
    position: relative;
}

.load-gallery {
    position: absolute;
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    z-index: 200;
    display: flex;
    transition: 0.5s ease;
    justify-content: center;
}

.hiden {
    opacity: 0;
    display: none;
}

.icon-gal {
    display: flex;
    flex-direction: column;
}

.icon-gal i {
    margin-top: 5rem;
    font-size: 40px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: load-gal 1s infinite ease;
    opacity: 0.5;

}

@keyframes load-gal {
    0% {
        opacity: 0.5;
        rotate: 0deg;
    }

    100% {
        opacity: 1;
        rotate: 360deg;
    }
}